COMPOSE_PROJECT_NAME='wordpress_starter'
WORDPRESS_DB_HOST='mysql:3306'
WORDPRESS_DB_USER='wordpress_starter_user'
WORDPRESS_DB_NAME='wordpress_starter_database'
WORDPRESS_DB_PASSWORD='wordpress_starter_password'

