/.github
/dist/*
!/dist/.gitkeep
/node_modules
/package-lock.json
/composer.lock
.DS_Store
*.log
/.srv/*
*.env
/.idea/*
!/custom.ini
/.htaccess.php
app/plugin
app/plugins/GutenbergBlocks/myblock/node_modules
app/plugins/dkel
app