.ppf-intro {
  position: relative;
  background: #000;
  padding: 60px 20px;
  min-height: auto;
  box-sizing: border-box;
  color: #fff;
}

@media (width >= 1200px) {
  .ppf-intro {
    padding: 100px 32px;
    min-height: 1080px;
  }
}

.ppf-intro__overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgb(0 0 0 / 0%) 60%,
    rgb(0 0 0 / 50%) 72%,
    rgb(0 0 0) 93%
  );
  pointer-events: none;
}

.ppf-intro__container {
  position: relative;
  z-index: 10;
  max-width: 1791px;
  margin: 0 auto;
  text-align: center;
}

.ppf-intro__header {
  margin-bottom: 40px;
}

.ppf-intro__title {
  color: #fff;
  font-family: Roboto, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 28px;
  margin-bottom: 10px;
}

@media (width >= 1200px) {
  .ppf-intro__title {
    font-size: 56px;
  }
}

.ppf-intro__subtitle {
  color: #fff;
    font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
	position: relative;	
  max-width: max-content;
  margin: 5px auto 37px;
	font-style: italic;
}

@media (width >= 1200px) {
	.ppf-intro__subtitle {
		margin: 30px auto 50px;
	}
	
}


.ppf-intro__subtitle::before{
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -10px;
  height: 2px;
  min-height: 1px;
  background-color: #fff;
}

@media (width >= 1200px) {
  .ppf-intro__subtitle {
    font-size: 26px;
  }
}


.ppf-intro__description {
  font-family: Inter, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  max-width: 1200px;
  margin: 0 auto;
  color: #fff;
	text-align: left;
}

@media (width >= 1200px) {
  .ppf-intro__description {
    font-size: 20px;
	  text-align: center;
  }
}

.ppf-intro__image {
  width: 100%;
  height: auto;
}



.ppf-intro__benefits {
  text-align: left;
}

.ppf-intro__benefits-title {
  color: #c60000;
  font-size: 24px;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 30px;
  text-align: center;
}

@media (width >= 1200px) {
  .ppf-intro__benefits-title {
    font-size: 27px;
    margin-bottom: 48px;
    text-align: left;
  }
}

.ppf-intro__grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  max-width: 1820px;
  margin: 0 auto;
}

@media (width >= 768px) {
  .ppf-intro__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width >= 1200px) {
  .ppf-intro__grid {
    grid-template-columns: repeat(5, 1fr);
    gap: 42px;
  }
}

.ppf-intro__item {
  text-align: center;
}

.ppf-intro .btn{
  margin: 0 auto;
}


@media (width >= 1200px) {
  .ppf-intro__item {
    text-align: left;
  }
}

.ppf-intro__item-title {
  color: #fff;
  font-size: 22px;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.2;
  margin-bottom: 12px;
}

@media (width >= 1200px) {
  .ppf-intro__item-title {
    font-size: 26px;
    line-height: 38px;
    margin-bottom: 16px;
  }
}

.ppf-intro__item-desc {
  color: #fff;
  font-family: Inter, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

@media (width >= 1200px) {
  .ppf-intro__item-desc {
    font-size: 20px;
    line-height: 32px;
  }
}